@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
.main-container {
 display: "flex";
 width: 10vw;
 /* height: 100vh; */
}
main {
  padding: "3rem";
  z-index:2;
}

.sidebar {
  background: rgb(0, 7, 61);
  color: white;
  position:fixed;
  z-index: 1;
  height: 100vh;
}
/* .route-page{
  display: block;
  position:absolute;
} */
.top-bar {
  background: rgb(0, 7, 61);
  width: 100vw;
  height: 4rem;
  position: fixed;
  left: 2.5rem;
}
.top-bar h1 {
  font-size: 2rem;
  color: white;
  padding: 0.8rem 0 0 1rem;
}
.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo img {
  /* font-size: 18px; */
  width: 100px;
  height: 30px;
  line-height: 0;
}
.link-text {
  white-space: nowrap;
  font-size: 15px;
  text-decoration: none;
}
.link {
  display: flex;
  color: white;
  gap: 1rem;
  padding: 5px 10px;
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}
.data-table{
  position:absolute;
  margin: 5rem 4rem 0rem 3rem;
}
.active {
  border-right: 4px solid white;
  background: none;
}
.drop-down {
  width: 13rem;
  height: 12rem;
  box-shadow: 7px 5px 7px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background: rgba(228, 225, 225, 0.712);
  z-index: 2;
  position: absolute;
}
/* .table > thead {
  vertical-align: middle;
} */
.filter:hover {
  transform: scale(110%);
  cursor: pointer;
}
.okay {
  margin: 0.3rem 0 0 4.5rem;
}
#css_custom {
  margin: 0.5rem;
  width: 12rem;
  height: 8rem;
  outline: 0px solid transparent;
  color: black;
  font-weight: bold;
}
.export-btn:hover{
 transform: scale(105%);
 transition: .6s;
}

@media screen and (max-width: 960px) {
  
  .top-bar{
    width: 250vw;
    height:5vh;
    }
  .data-table{
    z-index:1;
  }
}

@media screen and (max-width:375px){
  .sidebar{
    z-index:3;
  }
  .top-bar h1{
    font-size:1.5rem;
    padding: 0.2rem 0 0 1rem;
  }
}
